/* Write your CSS here */
.app-container {
  display: flex;
  background-color: #ffc2a0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}
.card-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 20px;
  height: 80%;
  background-color: #ffffff;
  border-radius: 10px;
}
.h {
  color: #ffc2a0;
  text-align: center;
}

/*
Hex: 
Hex: #ffffff
Hex: #ff8542
Hex: #000000
Hex: 
*/
